<main>
  <div class="center_title">About Phil</div>
  <div class="center_body_small">
    <p>I am a web developer! Everything about me can be found on <a href="https://www.linkedin.com/in/philsofia" target="_blank">LinkedIn</a>.</p> 
  </div>
</main>
