<main>
  <div class="center_title">Who Am I?</div>
  <div class="center_body_tight">
    <p>Great question! Checked out <a href="https://www.linkedin.com/in/philsofia">my LinkedIn profile</a> for everything you would want to know.</p> 
  </div>
</main>