<main>
  <div class="center_title">About Phil</div>
  <div class="center_body_small">
    <p>I am a web developer! See my <a href="https://www.linkedin.com/in/philsofia" target="_blank">LinkedIn</p> profile for work experience and more. 
  </div>
</main>