<main>
  <div class="center_title">Who Am I?</div>
  <div class="center_body_tight">
    <p>Great question! Currently I am in the midst of a career change. Recently I graduated from Dev Bootcamp's web developer immersion program, and am currently seeking employment as a web developer.  For the previous 13 years I worked for my local church in various capacities, and am still active in the church as a volunteer teaching pastor.</p>
    <p>My passions are seemingly disparate: solving complex problems with code, mentoring others, and generating &amp; reveling in absurd humor. Ultimately, I enjoy guiding people into their destinies, and I enjoy life. Hopefully we can make some tools to help more people do the same.</p>
    <p>How does this all connect to my new career path? Simply put, as a web developer my personal career goal is to build tools that make people’s lives better, by utilizing technology to further meet the felt needs of those less well-off than me in this world.</p>
    <p>My strongest skills are problem solving, analytical thinking, adaptability, relationship building and reconciliation, and making people laugh. I also like to finish what I have started.</p>
    <p id="about_resume_link"><a href="https://resume.creddle.io/resume/f2ynmcpo7zn" target="_blank">View my r&eacute;sum&eacute; for a more detailed look into my education and work history</a></p> 
  </div>
</main>