<main>
  <div class="center_title">About Phil</div>
  <div class="center_body_tight">
    <p>I am a web developer! Check out <a href="https://www.linkedin.com/in/philsofia">my LinkedIn profile</a> for everything you would want to know.</p> 
  </div>
</main>