<main>
  <div class="center_title">Email: phil.sofia <em>at</em> gmail.com</div>
  <div class="center_body">
  <a href="mailto:phil.sofia@gmail.com"><%= image_tag("email_icon.png", size: "128x128", alt: "Email") %></a>
    <a href="https://github.com/philsof"><%= image_tag("github_icon.png", size: "128x128", alt: "GitHub") %></a>
    <a href="https://www.linkedin.com/in/philsofia"><%= image_tag("linkedin_icon.png", size: "128x128", alt: "LinkedIn") %></a>
  </div>
</main>


