<main>
  <div class="center_title">Contact:</div>
  <div class="center_body_small"><p><a href="mailto:phil.sofia@gmail.com">phil.sofia@gmail.com</a></p>
    <p><a href="https://resume.creddle.io/resume/f2ynmcpo7zn" target="_blank">R&eacute;sum&eacute;</a></p>
  </div>  
  <div class="center_body">
    <a href="https://github.com/philsof" target="_blank"><%= image_tag("github_icon.png", size: "128x128", alt: "GitHub") %></a>
    <a href="https://www.linkedin.com/in/philsofia" target="_blank"><%= image_tag("linkedin_icon.png", size: "128x128", alt: "LinkedIn") %></a>
  </div>
</main>


