<main>
  <div class="center_title">Email: <script language=JavaScript type="text/javascript">
<!--
var user = "phil.sofia";
var host = "gmail.com";
var link = user + "@" + host;
document.write("<a hre" + "f=mai" + "lto:" + user + "@" + host + "><b>" + link + "</b></a>");
--> </script></div>
  <div class="center_body">
    <a href="https://github.com/philsof" target="_blank"><%= image_tag("github_icon.png", size: "128x128", alt: "GitHub") %></a>
    <a href="https://www.linkedin.com/in/philsofia" target="_blank"><%= image_tag("linkedin_icon.png", size: "128x128", alt: "LinkedIn") %></a>
  </div>
</main>


