<main>
  <div class="center_title">Contact: <a href="mailto:phil.sofia@gmail.com">phil.sofia@gmail.com</a></div>
  <div class="center_title">
    <a href="https://resume.creddle.io/resume/f2ynmcpo7zn" target="_blank">View my r&eacute;sum&eacute;</a>
  </div>  
  <div class="center_body">
    <a href="https://github.com/philsof" target="_blank"><%= image_tag("github_icon.png", size: "128x128", alt: "GitHub") %></a>
    <a href="https://www.linkedin.com/in/philsofia" target="_blank"><%= image_tag("linkedin_icon.png", size: "128x128", alt: "LinkedIn") %></a>
  </div>
</main>


