<div id="game_div">
<div id="game_text" class="center_body_small">
<p>2048</p>
<p><a href="https://github.com/philsof/2048">Code and more info</a></p>
</div>
  <table>
    <tbody id="board">
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
    </table>
  </tbody>
  <div id="score-div">Score: <span id="score">0</span></div>
  <button type="button" id="new-game-button">New Game</button>
</div>