<div id="projects">
  <h2>Recent projects:</h2>
  <p>
    <a href="https://github.com/nyc-mud-turtles-2015/trainspotter/blob/master/README.md" target="_blank">Trainspotter</a>
  </p>
  <p>
     <a href="https://github.com/jeder28/stack_overphil/blob/master/README.md" target="_blank">Stack OverPhil</a>
  </p>
  <p>
    <a href="https://github.com/philsof/man_up/blob/master/README.md" target="_blank">Man Up (in progress)</a>
  </p>
</div>