<div class="center_title">Recent projects:</div>
<div class="center_body_small">
  <p>
    <a href="https://github.com/philsof/2048" target="_blank">2048 (vanilla JavaScript)</a>
  </p>
  <p>
    <a href="https://github.com/philsof/trainspotter" target="_blank">Trainspotter (Ruby on Rails, JavaScript)</a>
  </p>
  <p>
     <a href="https://github.com/philsof/stack_overphil" target="_blank">Stack Overflow Clone (Ruby on Rails, JavaScript)</a>
  </p>
  <p>
    <a href="https://github.com/philsof/survey-gorilla" target="_blank">(Survey Gorilla Ruby on Rails, JavaScript)</a>
  </p>
</div>