<div class="center_title">Recent projects:</div>
<div class="center_body_small">
  <p>
    <a href="https://github.com/nyc-mud-turtles-2015/trainspotter/blob/master/README.md" target="_blank">Trainspotter</a>
  </p>
  <p>
     <a href="https://github.com/jeder28/stack_overphil/blob/master/README.md" target="_blank">Stack Overflow Clone</a>
  </p>
  <p>
    <a href="https://github.com/dcr8898/survey-gorilla/blob/master/README.md" target="_blank">Survey Gorilla</a>
  </p>
</div>