<!DOCTYPE html>
<html>

<head><title>Coding Stuff</title>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
 <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'> <!-- font-family: 'Droid Sans', sans-serif; -->
<link rel="stylesheet" type="text/css" href="stylesheets/default.css"></head>
  <body>

    <header id="header">Inside My Head</header>
    <nav id="nav">
      <a class="tag_link" href="about.html">Who Is Phil?</a> |
      <a class="tag_link" href="projects/index.html">Projects</a> |
      <a class="tag_link" href="#">Links</a> |
      <a class="tag_link" href="blog/blog-index.html">Blog</a> | 
      <a class="tag_link" href="contact.html">Contact</a>
    </nav>
    <span id="section1"><h2>Recent Thoughts:</h2><p><a href="blog/c9-questions.html">What makes a good question a good question?</a></p><p></p></p><p><a href="blog/c8-conflict.html">Reflecting on Conflict</a></p></span>
    <!--<section id="section2"><h2>Who are you?</h2>I have no idea.</section>
    <section id="section3"><h2>What can I put in this third section?</h2>Still working on that.</section>-->
    <footer id="footer">FOOTER</footer>
      

  </body>
</html>