<span id="section1">
  <h2>Recent projects:</h2>
  <p>
    <a href="https://github.com/nyc-mud-turtles-2015/trainspotter/blob/master/README.md">Trainspotter</a>
  </p>
  <p></p>
  <p>
    <a href="https://github.com/philsof/man_up/blob/master/README.md">Man Up (solo work in progress)</a>
  </p>
</span>