* {
  font-family: 'Gentium Book Basic', serif;
  color: #525059;
}

a, a:visited {
  text-decoration: none;
  color: #6587DF;
}

a:hover { 
  color: #FF0000;
}

#header {
  background-color: #C2D7EA;
  margin-left: 10%;
  width: 80%;
  text-align: center;
  font-size: 4em;
  border-radius: 5px;
  font-family: 'Gloria Hallelujah', cursive;
  color: #0F3D66;
}

#header-subtitle {
  margin-left: 10%;
  width: 80%;
  text-align: center;
  font-size: 2em;
  font-family: 'Gloria Hallelujah', cursive;
}

#header-sub-subtitle {
  margin-left: 10%;
  width: 80%;
  text-align: center;
  font-size: 0.9em;
  font-family: 'Gloria Hallelujah', cursive;
}

#nav {
  text-align: center; 
  padding-top: 2em;
}

#about_resume_link{
  font-size: 1.25em;
  font-weight: bold;
}

#footer {
  margin-left: 10%;
  width: 80%;
  bottom: 0%;
  text-align: center;
  font-size: 0.75em;
}

.tag_link {
  text-align: center;
  font-size: 1.5em;
  padding: 1em 1em 1em 1em;
}

.center_title {
  margin-left: 10%;
  width: 80%;
  text-align: center;
  font-size: 2em;
  margin-top: 5%;
  margin-bottom: 2%;
  font-weight: bold;}

.center_body {
  margin-left: 10%;
  width: 80%;
  text-align: center;
  font-size: 2em;
  margin-bottom: 1%;
  margin-top: 5%;
}

.center_body_small {
  margin-left: 10%;
  width: 80%;
  text-align: center;
  font-size: 1.5em;
}

.center_body_tight {
  margin-left: 20%;
  width: 60%;
  text-align: left;
  font-size: 1em;
}

#error_pic {
  max-width: 100%;
    height: auto;
}

