// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  font-family: 'Gloria Hallelujah', cursive;
 font-family: 'Gentium Book Basic', serif;
  color: #525059;
  

}
a, a:visited {
  text-decoration: none;
  color: #525059;

}

  a:hover { 
    color: #6587DF;
}

#header {
  background-color: #C2D7EA;
  margin-left: 10%;
  width: 80%;
  text-align: center;
  font-size: 4em;
  border-radius: 5px;
  font-family: 'Gloria Hallelujah', cursive;
  color: #0F3D66;
}

#header-subtitle {
  margin-left: 10%;
  width: 80%;
  text-align: center;
  font-size: 2em;
  border-radius: 0px;
  font-family: 'Gloria Hallelujah', cursive;
  color: #525059;
}

#header-sub-subtitle {
  margin-left: 10%;
  width: 80%;
  text-align: center;
  font-size: 1em;
  border-radius: 5px;
 font-family: 'Gloria Hallelujah', cursive;
  color: #525059;
}



#nav {
  text-align: center; 
  /*font-size: 1.5em; */
  color: #525059;
  padding-top: 2em;
}

.tag_link {
  font-family: 'Gentium Book Basic', serif;
  text-align: center;
  font-size: 1.5em;
  padding: 1em 1em 1em 1em;
}



#span {

}

#section1 {
  float: left;
  margin-left: 10%;
  width: 80%;
  height: 20em;
  border-radius: 5px;
  color: #525059;
  text-align: center;
  font-size: 1.5em;
}

#section2 {
  float: left;
  width: 26%;
  height: 20em;
  margin-left: 1%;
  border-radius: 5px;
  color: #525059;
}

#section3 {

  float: left;
  margin-left: 1%;
  width: 26%;
  height: 20em;
  border-radius: 5px;
  color: #525059;
}

#footer {

  position: fixed;
  margin-left: 10%;
  width: 80%;
  bottom: 0%;
  text-align: center;
}

.post_title {
  margin-left: 10%;
  text-align: left;
  width: 80%;
  font-size: 2em;
  margin-bottom: 1%;
} 

.post_subtitle {
margin-left: 10%;
text-align: left;
width: 80%;
font-size: 1.5em;
margin-bottom: 1%;
}

.post_date { 

margin-left: 10%;
text-align: left;
width: 80%;
font-style: italic;
font-size: 1em;
margin-bottom: 1%;
}

.post_body {
margin-left: 10%;
text-align: left;
width: 80%;
font-size: 1em;
}

.post_link {
text-align: right;
margin-left: 10%;
width: 80%;
font-size: 1em;
margin-bottom: 2%;
}

.center_title {
  margin-left: 10%;
  text-align: center;
  width: 80%;
  font-size: 1.5em;
  margin-top: 5%;
  margin-bottom: 1%;}

.center_body {
  margin-left: 10%;
  text-align: center;
  width: 80%;
  font-size: 2em;
  margin-bottom: 1%;
}

.center_tight {
  margin-left: 20%;
  text-align: left;
  width: 60%;
  font-size: 1em;
}
