// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* hex colors brown 7F3F27 FFB69B FF7E4E 7F5B4D CC643F */

* {
  font-family: Open Sans, Arial;
  background-color: #C7DFC7;

}
a, a:visited {
  text-decoration: none;
  color: #807D8C;

}


#header {
  background-color: #C7DFC7;
  margin-left: 10%;
  width: 80%;
  text-align: center;
  font-size: 5em;
  border-radius: 5px;
  font-family: 'Droid Sans', sans-serif; 
  color: #525059;
}

#header-subtitle {
  background-color: #C7DFC7;
  margin-left: 10%;
  width: 80%;
  text-align: center;
  font-size: 2em;
  border-radius: 5px;
  font-family: 'Droid Sans', sans-serif; 
  color: #525059;
}

#header-sub-subtitle {
  background-color: #C7DFC7;
  margin-left: 10%;
  width: 80%;
  text-align: center;
  font-size: 1.5em;
  border-radius: 5px;
  font-family: 'Droid Sans', sans-serif; 
  color: #525059;
}

#header-sub-sub-subtitle {
  background-color: #C7DFC7;
  margin-left: 10%;
  width: 80%;
  text-align: center;
  font-size: 0.75em;
  border-radius: 5px;
  font-family: 'Droid Sans', sans-serif; 
  color: #525059;
}

#header-sub-sub-sub-subtitle {
  background-color: #C7DFC7;
  margin-left: 10%;
  width: 80%;
  text-align: center;
  font-size: 0.5em;
  border-radius: 5px;
  font-family: 'Droid Sans', sans-serif; 
  color: #525059;
}


#nav {
  background-color: #C7DFC7;
  text-align: center; 
  /*font-size: 1.5em; */
  color: #525059;
  padding-top: 2em;
}

.tag_link {
  font-family: "Open Sans Condensed", sans-serif;
  text-align: center;
  font-size: 1.5em;
  padding: 1em 1em 1em 1em;
  background-color: #C7DFC7;
}

a.tag_link:hover {
  color: #FF0000;
  }

#span {
  background-color: #C7DFC7;

}

#section1 {
  float: left;
  margin-left: 10%;
  width: 80%;
  height: 20em;
  border-radius: 5px;
  color: #525059;
  text-align: center;
  font-size: 1.5em;
}

#section2 {
  background-color: #C7DFC7;
  float: left;
  width: 26%;
  height: 20em;
  margin-left: 1%;
  border-radius: 5px;
  color: #525059;
}

#section3 {
  background-color: #C7DFC7;
  float: left;
  margin-left: 1%;
  width: 26%;
  height: 20em;
  border-radius: 5px;
  color: #525059;
}

#footer {
  background-color: #C7DFC7;
  position: fixed;
  margin-left: 10%;
  width: 80%;
  bottom: 0%;
  text-align: center;
  color: #525059;
}

.post_title {
  margin-left: 10%;
  text-align: left;
  width: 80%;
  font-size: 2em;
  margin-bottom: 1%;
} 

.post_subtitle {
margin-left: 10%;
text-align: left;
width: 80%;
font-size: 1.5em;
margin-bottom: 1%;
}

.post_date { 

margin-left: 10%;
text-align: left;
width: 80%;
font-style: italic;
font-size: 1em;
margin-bottom: 1%;
}

.post_body {
margin-left: 10%;
text-align: left;
width: 80%;
font-size: 1em;
}

.post_link {
text-align: right;
margin-left: 10%;
width: 80%;
font-size: 1em;
margin-bottom: 2%;
}

.center_title {
  margin-left: 10%;
  text-align: center;
  width: 80%;
  font-size: 1.5em;
  margin-top: 5%;
  margin-bottom: 1%;}

.center_body {
  margin-left: 10%;
  text-align: center;
  width: 80%;
  font-size: 2em;
  margin-bottom: 1%;
}

.center_tight {
  margin-left: 20%;
  text-align: left;
  width: 60%;
  font-size: 1em;
}
