<!DOCTYPE html>
<html>
  <head>
    <title>Phil Sofia's personal website</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Bubblegum+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'><link href='https://fonts.googleapis.com/css?family=Gentium+Book+Basic' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="top-of-page"></div>
    <header id="header">Get Your Own Site</header>
    <div id="header-subtitle">this one's mine</div>
    <div id="header-sub-subtitle">(aka: the true story of Phil Sofia)</div>
    <nav id="nav">
      <a href="about" class="tag_link">Who Is Phil?</a> |
      <a href="/" class="tag_link">Projects</a> |
      <a href="contact" class="tag_link">Links &amp; Contact</a>
    </nav>
    <%= yield %>
    <footer id="footer">Copyright © Phil Sofia 2015</footer>
  </body>
</html>