<!DOCTYPE html>
<html>
  <head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Phil Sofia's personal website</title>
    <header id="header">Get Your Own Site</header>
    <div id="header-subtitle">this one's mine</div>
    <div id="header-sub-subtitle">(aka: the true story of Phil Sofia)</div>
    <div id="header-sub-sub-subtitle">is this enough levels?</div>
    <div id="header-sub-sub-sub-subtitle">yes</div>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav id="nav">
      <a href="#" class="tag_link">Who Is Phil?</a> |
      <a href="/" class="tag_link">Projects</a> |
      <a href="#" class="tag_link">Thoughts</a> |
      <a href="#" class="tag_link">Funny Stuff</a> |
      <a href="contact" class="tag_link">Contact</a>
    </nav>
    <%= yield %>
    <footer id="footer">copyright 2015 (too pretentious?)</footer>
  </body>
</html>