<!DOCTYPE html>
<html>
  <head>
    <title>Phil Sofia's personal website</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Gentium+Book+Basic' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <a href="/"><header id="header">Phil Sofia</header></a>
    <div id="header-subtitle"></div>
    <div id="header-sub-subtitle"></div>
    <nav id="nav">
      <a href="about" class="tag_link">Who Is Phil?</a> |
      <a href="projects" class="tag_link">Projects</a> |
      <a href="contact" class="tag_link">Links &amp; Contact</a>
    </nav>
    <%= yield %>
    <!-- <footer id="footer">Copyright &copy; Phil Sofia 2015</footer> -->
  </body>
</html>